<ons-page ng-controller="AuthController" class="auth">

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left"><ons-back-button>Back</ons-back-button></div>
		<div class="center">会員登録</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<div class="padding-normal">
		<ons-button ng-click="navi.pushPage('views/auth/login.html')">会員の方</ons-button>
		<ons-button ng-click="navi.pushPage('views/auth/signup.html')">未会員の方</ons-button>
	</div>


<h3>ポイント</h3>
<p>
自動集計により、お買い上・お修理、又、行事にご参加の場合、ポイントを付加し、種々のプレゼントを差し上げます。
</p>
<h3>ディスカウント</h3>
<p>
製品お買い上げ・お修理等に対し、10%ディスカウント致します。
</p>
<h3>バースデープレゼント</h3>
<p>
お誕生日に持ち込まれたジュエリーリングのサイズ直し又は新仕上げ又はパールネックレス等の糸かえは、一点につき、無料にてさせていただきます。
</p>

<ul>
	<li>お買い上げ又はお修理代金 1万円につき1ポイント</li>
	<li>ALEX主催の行事にご参加いただくと(原則¥5,000の会費に対し)1ポイント</li>
	<li>ご友人のご紹介(会員登録)をいただければ2ポイント<br>(お買い上げ又はお修理いただいた場合に限ります)</li>
</ul>
<p>
※ポイントは3年間有効です。<br>
ポイント交換はお客様よりお申し出下さい。
</p>

<table>
	<tbody>
		<tr>
			<td>金券5,000円、又は ALEX商品券 10,000円分</td>
			<td>15ポイント</td>
		</tr>
		<tr>
			<td>1人様お食事券プレゼント(ディナータイム)</td>
			<td>25ポイント</td>
		</tr>
		<tr>
			<td>ペアお食事券プレゼント(ディナータイム)</td>
			<td>40ポイント</td>
		</tr>
	</tbody>
</table>
<dl>
</dl>

</ons-page>


