<ons-page ng-controller="AuthController" class="auth">

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>

		<div class="center">会員登録</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<div class="contents">

		<div ng-if="loggedin">
			<p>
				既にログインしています。
			</p>
		</div>


		<div ng-if="!loggedin">
			<ons-button ng-click="navi.pushPage('views/auth/login.html')">会員の方</ons-button>
			<ons-button ng-click="navi.pushPage('views/auth/signup.html')">未会員の方</ons-button>
		</div>


		<h1>会員特典</h1>
		<!--
		<h3>ポイント</h3>
		<p>
		自動集計により、お買い上・お修理、又、行事にご参加の場合、ポイントを付加し、種々のプレゼントを差し上げます。
		</p>
		<h3>ディスカウント</h3>
		<p>
		製品お買い上げ・お修理等に対し、10%ディスカウント致します。
		</p>
		-->
		<h2>バースデープレゼント</h2>
		<p>
			お誕生日の月に持ち込まれたジュエリーリングのサイズ直し又は新仕上げ又はパールネックレス等の糸かえは、一点につき、無料にてさせていただきます。
		</p>

		<ul>
			<li>お買い上げ又はお修理代金 1万円につき1ポイント</li>
			<li>ALEX主催の行事にご参加いただくと(原則¥5,000の会費に対し)1ポイント</li>
			<li>ご友人のご紹介(会員登録)をいただければ2ポイント<br>(お買い上げ又はお修理いただいた場合に限ります)</li>
		</ul>
		<p>
		※ポイントは3年間有効です。<br>
		ポイント交換はお客様よりお申し出下さい。
		</p>

		<h2>ポイント加算</h2>
		<table class="add_point">
			<tbody>
				<tr>
					<td>お買い上げ、お修理代、リフォーム代金、ALEX 行事参加 (※100円につき)</td>
					<th>1 pt</th>
				</tr>
				<tr>
					<td>地金製品等のお買取り代金 (※200円につき)</td>
					<th>1 pt</th>
				</tr>
				<tr>
					<th colspan="2">特別サービスポイントの加算</th>
				</tr>
				<tr>
					<td>ALEX セールへの参加 (購入に関係なく)</td>
					<th>100 pt</th>
				</tr>
				<tr>
					<td>ご友人の紹介 (会員登録後、ポイント発生により)</td>
					<th>100 pt</th>
				</tr>
				<tr>
					<td>弊社の特別キャンペーンにより</td>
					<th></th>
				</tr>
			</tbody>
		</table>

		<h2>ポイント交換</h2>
		<table class="excahnge_point">
			<tbody>
				<tr>
					<th>1,000 pt</th>
					<td>ALEX 行事参加 (5,000円相当)</td>
				</tr>
				<tr>
					<th>2,500 pt</th>
					<td>1人様お食事券プレゼント(ディナータイム)</td>
				</tr>
				<tr>
					<th>5,000 pt</th>
					<td>ペアお食事券プレゼント(ディナータイム)</td>
				</tr>
			</tbody>
		</table>
		<p class="point_notice">
			※ポイントは取得時より3年間有効<br>
			※原則、お客様の要望により交換の対応を致しますが、毎年末にご案内するよう考えております<br>
		</p>
	</div>

</ons-page>


