<ons-page ng-controller="LoginController as login" class="login">

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left"><ons-back-button>Back</ons-back-button></div>
		<div class="center">ログイン</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<form name="myForm" novalidate>
		<ons-list modifier="inset" style="margin-top: 20px;">
			<ons-list-item>
				会員番号
				<input ng-model="login.id"
					name="id"
					type="text" class="text-input"
					placeholder="username" style="width: 100%" id="InputName" ng-required="true" />
			</ons-list-item>
			<ons-list-item>
				パスワード
				<input ng-model="login.password" ng-required="true"
					name="password"
					type="password" class="text-input"
					placeholder="password" style="width: 100%" id="InputPassword" />
			</ons-list-item>
			
			<div>
				<span class="error" ng-show="myForm.id.$error.required">会員番号を入力してください</span>
				<span class="error" ng-show="myForm.password.$error.required">パスワードを入力してください</span>
			</div>
			
			<div style="padding: 10px 9px">
				<ons-button modifier="large" ng-click="doLogin(login)" ng-disabled="myForm.$invalid">ログイン</ons-button>
			</div>
		</ons-list>

	</form>

	<ons-modal var="modal">
		<ons-icon icon="ion-load-c" spin="true"></ons-icon>
		ログインしています
	</ons-modal>

</ons-page>
