<ons-page ng-controller="LoginController as login" class="login">

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>

		<div class="center">ログイン</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<form name="myForm" novalidate>
		<ons-list modifier="inset" style="margin-top: 20px;">
			<ons-list-item>
				会員番号
				<input ng-model="login.number"
					name="number"
					type="text" class="text-input"
					placeholder="input number" style="width: 100%" id="InputName" ng-required="true" />
			</ons-list-item>
			<ons-list-item>
				パスワード
				<input ng-model="login.password" ng-required="true"
					name="password"
					type="password" class="text-input"
					placeholder="input password" style="width: 100%" id="InputPassword" />
			</ons-list-item>
			
			<div>
				<span class="error" ng-show="myForm.number.$error.required">会員番号を入力してください</span>
				<span class="error" ng-show="myForm.password.$error.required">パスワードを入力してください</span>
			</div>
			
			<div style="padding: 10px 9px">
				<ons-button modifier="large" ng-click="doLogin(login)" ng-disabled="myForm.$invalid">ログイン</ons-button>
			</div>
		</ons-list>

	</form>



	<div class="contents">
		<h3>
			※パスワードをお忘れの方
		</h3>
		<p>
			パスワードや会員ナンバーをお忘れの際は、店舗スタッフが再発行致します。<br>
			お手数ですが、下記メール、もしくはお電話で店舗へのご連絡をお願い致します。<br>
			(その際、個人情報のご確認をさせていただく事があります。何卒、ご了承下さい)<br>
			発行後、パスワード変更よりお好きなパスワードに変更をお願い致します。
		</p>

		<ul class="button_group three">
			<li>
				<a class="button icon" href="tel:{{shop_info.telnum}}">
					<img src="images/icon/call_s.png" alt="電話を掛ける" />
					<span>CALL</span>
				</a>
			</li>
			<li>
				<a class="button icon" href="mailto:{{shop_info.mail}}?subject=ALEXアプリより「パスワードの再発行申請」">
					<img src="images/icon/mail_s.png" alt="メール" />
					<span>MAIL</span>
				</a>
			</li>
		</ul>

	</div>




	<ons-modal var="modal">
		<ons-icon icon="ion-load-c" spin="true"></ons-icon>
		ログインしています
	</ons-modal>

</ons-page>
