<ons-page ng-controller="PasswordChangeController as password_change" class="password_change">

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>

		<div class="center">パスワード変更</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<form name="myForm" novalidate>
	<ons-list modifier="inset" style="margin-top: 20px;">
		<!-- <ons-list-header class="title">サインアップ</ons-list-header> -->

		<ons-list-header>
			会員No.{{number}} (変更出来ません)
		</ons-list-header>

		<!-- password -->
		<ons-list-item>
			現在のパスワード
			<input ng-model="password_change.old_password" name="old_password" type="password" placeholder="パスワード"
				ng-required="true"
				ng-minlength="4"
				class="text-input" style="width: 100%" />
			<span class="error" ng-show="myForm.old_password.$error.required">必須項目です</span>
			<span class="error" ng-show="myForm.old_password.$error.minlength">4文字以上で入力して下さい</span>
		</ons-list-item>

		<ons-list-item>
			新しいパスワード
			<input ng-model="password_change.new_password" name="new_password" type="password" placeholder="新しいパスワード"
				ng-required="true"
				ng-minlength="4"
				class="text-input" style="width: 100%" />
			<span class="error" ng-show="myForm.new_password.$error.required">必須項目です</span>
			<span class="error" ng-show="myForm.new_password.$error.minlength">4文字以上で入力して下さい</span>
		</ons-list-item>

		<ons-list-item>
			新しいパスワード(再入力)
			<input ng-model="password_change.new_password_confirm" name="new_password_confirm" type="password" placeholder="新しいパスワード(再入力)"
				ng-required="true"
				ng-minlength="4"
				class="text-input" style="width: 100%" />
			<span class="error" ng-show="myForm.new_password_confirm.$error.required">必須項目です</span>
			<span class="error" ng-show="myForm.new_password_confirm.$error.minlength">4文字以上で入力して下さい</span>
		</ons-list-item>

		<div class="padding-normal">
			<ons-button modifier="large" ng-click="doPasswordChange(password_change)" ng-disabled="myForm.$invalid">パスワード変更</ons-button>
		</div>
	</ons-list>
	</form>

	<ons-modal var="modal">
		<ons-icon icon="ion-load-c" spin="true"></ons-icon>
		パスワード変更申請中
	</ons-modal>


</ons-page>
