<ons-page ng-controller="MarketListController" class="market_list" id="marketList" style="height:100%;">

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>

		<div class="center">貴金属相場情報</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<ons-list id="market_list_ul">

		<ons-list-item ng-repeat="data in dataList"
			class="list__item__line-height market_list"
			style="pagging:0; margin:0;width: 100%;"
			>
			
			<div ng-if="$first"
				class="market">

				<div class="latest_info">最新情報</div>

				<h1 style="margin-bottom: 0;">
					{{data.title}}&nbsp;
				</h1>

				<p style="width: 100%; text-align: right;">{{data.created_at | mysql_date:'yyyy年M月d日 HH:mm 現在'}}</p>

				<p>
					※販売並に買い取り価格(税込み価格 現物、現金取引 500g以上)
				</p>
				
				
				<h2 class="gold">金</h2>
				<dl>
					<dt>販売価格<br>(前日比)</dt>
					<dd>
						{{data.price_gold |  currency:undefined:0}} /g<br>
						({{data.ratio_gold |  currency:undefined:0}} /g)
					</dd>
					<dt>買取価格</dt>
					<dd>
						{{data.purchase_gold |  currency:undefined:0}} /g
					</dd>
				</dl>
				
				<h2 class="platinum">プラチナ</h2>
				<dl>
					<dt>販売価格<br>(前日比)</dt>
					<dd>
						{{data.price_platinum | currency:undefined:0}} /g<br>
						({{data.ratio_platinum |  currency:undefined:0}} /g)
					</dd>
					<dt>買取価格</dt>
					<dd>
						{{data.purchase_platinum |  currency:undefined:0}} /g
					</dd>
				</dl>
				
				<h2 class="silver">銀&nbsp;(30kg単位)</h2>
				<dl>
					<dt>販売価格<br>(前日比)</dt>
					<dd>
						{{data.price_silver | currency}} /g<br>
						({{data.ratio_silver | currency}} /g)
					</dd>
					<dt>買取価格</dt>
					<dd>
						{{data.purchase_silver | currency}} /g
					</dd>
				</dl>

				<div class="chart" >
					<div style="max-width:100%;">
						<canvas id="myChart" height="250"></canvas>
					</div>

					<div class="buttons">
						<div class="button gold"     ng-click="drawChart('gold')" >金</div>
						<div class="button platinum" ng-click="drawChart('platinum')" >プラチナ</div>
						<div class="button silver"   ng-click="drawChart('shilver')" >銀</div>
						<div class="button all"      ng-click="drawChart()" >全て</div>
					</div>
				
				</div>


				<h2 class="">為替(インターバンク)</h2>
				<p>
					1$&nbsp;=&nbsp;{{data.exchange | currency}}
				</p>
				
				<h2 class="">NY(コメックス)金相場</h2>
				<p>
					{{data.market_gold | currency: '$'}}
				</p>
				
				<h2 class="">NY白金相場</h2>
				<p>
					{{data.market_platinum | currency: '$'}}
				</p>
				
				<h2>お問い合わせ</h2>
				<ul class="button_group three">

					<li>
						<a class="button icon" href="tel:{{shop_info.telmarketnum}}">
							<img src="images/icon/call_s.png" alt="電話を掛ける" />
							<span>CALL</span>
						</a>
					</li>
					<li>
						<a class="button icon" href="mailto:{{shop_info.mail}}?subject=貴金属買い取りについてお問い合わせ({{data.created_at}})">
							<img src="images/icon/mail_s.png" alt="メール" />
							<span>MAIL</span>
						</a>
					</li>
				</ul>

				<p>
					※貴金属や金売買はALEX親会社&nbsp;和田貴金属宝飾店&nbsp;が実務を担当しております。<br>
					※ブランド問わず、1g から買い取り致します。
				</p>

				<h3 style="margin-top:4em; max-width:100%; fontweight:bold; text-align: center; color: #fff; borde-radius: 10px; background-color: #c20d00;">
					▼&nbsp;過去の情報&nbsp;▼
				</h3>
			</div>
			
			
			<div
				class="list"
				ng-if="!$first"
				ng-click="showDetailPage(data)"
				modifier="tappable">
				<h3>
					{{data.title}}
				</h3>
				<div class="created_at" style="width: 100%; text-align: right;">{{data.created_at | mysql_date:'yyyy年M月d日 HH:mm'}}</div>
			</div>
			
		</ons-list-item>
		
		<!-- #list_end -->
		<div id="list_end">
			<div class="loading">
				<img src="images/loader.gif" alt="Loading..." /><br>
				読み込み中...
			</div>
			<div class="load_more">
				さらに読み込む。<br>
				<span class="swipe">▲上にスワイプ▲</span>
			</div>
		</div>
		<!-- // #list_end -->

	</ons-list>
   
</ons-page>
