<ons-page ng-controller="NewsController" class="news" >

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>


		<div class="center">行事予定</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<div class="contents">
		<div class="latest">最新情報</div>
		<h1 ng-bind="::data.title">
		</h1>

		<article class="news_article" ng-bind-html="article">
		</article>

		<h3>お問い合わせ、又は出席について!!</h3>
		<p>メールで出席希望の場合は「氏名」を本文にご記入下さい</p>
		<ul class="button_group three">
			<li>
				<a class="button icon" href="#" ng-click="call(shop_info.telnum)">
					<img src="images/icon/call_s.png" alt="電話を掛ける" />
					<span>CALL</span>
				</a>
			</li>
			<li>
				<a class="button icon" href="#" ng-click="mail(shop_info.mail, '「' + data.title + '」のお問い合わせ・出席について', '(氏名をお忘れなく)')">
					<img src="images/icon/mail_s.png" alt="メール" />
					<span>MAIL</span>
				</a>
			</li>
		</ul>

	</div>

</ons-page>
