<ons-page ng-controller="ProductController" class="product" >

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>

		<div class="center">{{data.name}}</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<div class="contents">
		<img src="{{BASE_URL}}{{data.large}}" alt="" />
		<h1>{{data.name}}</h1>
		<p class="price_primary">{{data.price_primary | currency:undefined:0}}</p>
		<p class="price_secondary">{{data.price_seconday | currency:undefined:0}}</p>
		<p class="description">
			{{data.description}}
		</p>

		<ul class="button_group three">
			<li>
				<div class="budge">{{data.like}}</div>
				<a class="button icon" ng-click="like(data.id)" ng-disabled="!loggedin">
					<img src="images/icon/like_s.png" alt="いいね" />
					<span>いいね</span>
				</a>
			</li>
			<li>
				<a class="button icon" href="tel:{{shop_info.telnum}}">
					<img src="images/icon/call_s.png" alt="電話を掛ける" />
					<span>CALL</span>
				</a>
			</li>
			<li>
				<a class="button icon" href="mailto:{{shop_info.mail}}?subject=「{{data.name}}」の商品お問い合わせ">
					<img src="images/icon/mail_s.png" alt="メール" />
					<span>MAIL</span>
				</a>
			</li>
		</ul>
		<p class="error" ng-if="!loggedin">「いいね」をするにはログインをお願いします</p>
	</div>
	
	<ons-modal var="modal">
		<ons-icon icon="ion-load-c" spin="true"></ons-icon>
		いいねしています
	</ons-modal>

</ons-page>

