<ons-page ng-controller="ProductListController" id="productList" style="height:100%;" class="product_list" >

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>


		<div class="center">{{page_title}}</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<ons-list id="product_list_ul">

		<ons-list-item
			class="product_list list__item__line-height"
			ng-repeat="data in dataList"
			modifier="tappable"
			ng-click="showDetailPage(data)">
			<img class="thumbnail" src="{{BASE_URL}}{{data.thumbnail}}">
			<h3>
					{{data.name}}
			</h3>
			<p class="price price_primary">{{data.price_primary | currency:undefined:0}}</p>
		</ons-list-item>

		<!-- #list_end -->
		<div id="list_end">
			<div class="loading">
				<img src="images/loader.gif" alt="Loading..." /><br>
				読み込み中...
			</div>
			<div class="load_more">
				さらに読み込む。<br>
				<span class="swipe">▲上にスワイプ▲</span>
			</div>
		</div>
		<!-- // #list_end -->

	</ons-list>
   
</ons-page>
