<ons-navigator var="navi" page="list.html"></ons-navigator>
    <ons-template id="list.html">
        <ons-page ng-controller="NewsListController">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
                        <ons-icon icon="ion-navicon"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">{{data.name}}</div>
            </ons-toolbar>

            <ons-list id="news_list_ul">
                <ons-list-item class="news_list" ng-repeat="data in dataList"
                    modifier="tappable" class="list__item__line-height"
                    ng-click="showDetailPage(data)">
                    <span style="margin-left: 10px;">
                        <ons-icon icon="ion-image" style="color: #666;"></ons-icon>
                            {{data.title}}
                    </span>
                    <span class="content">{{data.content}}</span>
                </ons-list-item>
            </ons-list>
        </ons-page>
    </ons-template>
 
    <ons-template id="detail.html">
        <ons-page ng-controller="NewsController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">{{data.title}}</div>
            </ons-toolbar>
 
            <div>
                <ons-list modifier="inset">
                    <ons-list-item>
                        <ons-row>
                            <ons-col>{{data.title}}</ons-col>
                            <ons-col>{{data.date}}</ons-col>
                        </ons-row>
                    </ons-list-item>
                    <ons-list-item>
                        {{data.content}}
                    </ons-list-item>
                </ons-list>
            </div>
        </ons-page>
    </ons-template>
