<ons-page ng-controller="SignupController">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()">
				<ons-icon icon="ion-navicon"></ons-icon>
			</ons-toolbar-button>
		</div>
		<div class="center">サインアップ</div>
	</ons-toolbar>

	<ons-list modifier="inset" style="margin-top: 20px;">
		<ons-list-header class="title">サインアップ</ons-list-header>

		<!-- name -->
		<ons-list-item>
			お名前<span class="required">必須</span>
			<input type="text" class="text-input--transparent" placeholder="お名前" style="width: 100%" id="InputName" ng-model="data.input_name" />
		</ons-list-item>

		<!-- kana -->
		<ons-list-item>
			フリガナ
			<input type="text" class="text-input--transparent" placeholder="フリガナ" style="width: 100%" id="InputName" ng-model="data.input_name" />
		</ons-list-item>

		<!-- birtyday_** -->
		<ons-list-item>
			お誕生日
			<div style="width: 100%;">
				<input type="text" class="text-input--transparent" placeholder="0000" size="6" id="InputName" ng-model="data.input_name" />年&nbsp;
				<input type="text" class="text-input--transparent" placeholder="00"   size="4" id="InputName" ng-model="data.input_name" />月&nbsp;
				<input type="text" class="text-input--transparent" placeholder="00"   size="4" id="InputName" ng-model="data.input_name" />日&nbsp;
			</div>
		</ons-list-item>

		<!-- postal_code -->
		<ons-list-item>
			郵便番号
			<input type="text" class="text-input--transparent" placeholder="000-0000" style="width: 100%" id="InputName" ng-model="data.input_name" />
		</ons-list-item>

		<!-- address -->
		<ons-list-item>
			ご住所
			<input type="text" class="text-input--transparent" placeholder="都道府県・市区町村" style="width: 100%" id="InputName" ng-model="data.input_name" />
			<input type="text" class="text-input--transparent" placeholder="番地・建物名等" style="width: 100%" id="InputName" ng-model="data.input_name" />
		</ons-list-item>

		<!-- お電話番号(携帯可) -->
		<ons-list-item>
			お電話番号(携帯可)
			<input type="text" class="text-input--transparent" placeholder="000-0000-0000" style="width: 100%" id="InputName" ng-model="data.input_name" />
		</ons-list-item>

		<!-- メールアドレス -->
		<ons-list-item>
			メールアドレス
			<input type="text" class="text-input--transparent" placeholder="" style="width: 100%" id="InputName" ng-model="data.input_name" />
		</ons-list-item>

		<!-- 結婚記念日 -->
		<ons-list-item>
			結婚記念日
			<div style="width: 100%;">
				<input type="text" class="text-input--transparent" placeholder="0000" size="6" id="InputName" ng-model="data.input_name" />年&nbsp;
				<input type="text" class="text-input--transparent" placeholder="00"   size="4" id="InputName" ng-model="data.input_name" />月&nbsp;
				<input type="text" class="text-input--transparent" placeholder="00"   size="4" id="InputName" ng-model="data.input_name" />日&nbsp;
			</div>
		</ons-list-item>

		<!-- その他質問など -->
		<ons-list-item>
			その他質問など
			<input type="textarea" class="text-input--transparent" placeholder="名前" style="width: 100%" id="InputName" ng-model="data.input_name" />
		</ons-list-item>

		<!-- メール・ラインでのご案内可・不可 -->
		<ons-list-item>
			メール・ラインでのご案内
			<div style="width: 100%;">
				<label><input type="radio" class="" name="" ng-model="" value="可">可</label>
				<label><input type="radio" class="" name="" ng-model="" value="不可">不可</label>
			</div>
		</ons-list-item>

		<div style="padding: 10px 9px">
			<ons-button modifier="large" ng-click="doSignUp()">サインアップ</ons-button>
		</div>
	</ons-list>
	
	<div id="hoge"></div>

</ons-page>

