<ons-page ng-controller="TopController" id="top.html">

	<ons-toolbar>
		<div class="right">
			<ons-toolbar-button ng-if="!loggedin"
				ng-click="navi.pushPage('login.html')">
				ログイン
			</ons-toolbar-button>
			<ons-toolbar-button ng-if="loggedin"
				ng-click="navi.pushPage('mypage.html')">
				MyCard
			</ons-toolbar-button>
		</div>
		<div class="center">
			<!-- TODO image -->
			ALEX
		</div>
	</ons-toolbar>

		<div id="main_content">
			<div id="main_image">
				<ul>
					<li ng-repeat="data in menuMain"
					ng-click="navi.pushPage(data.page)"modifier="tappable" 
						style="background-image: url(images/top/{{data.background}});">
						{{data.name}}
						<span class="jp">{{data.jpname}}</span>
					</li>
				</ul>
			</div>


			<div id="menu_main">
				<ul>
					<li ng-repeat="data in menuMain"
					ng-click="navi.pushPage(data.page)"modifier="tappable" >
						{{data.name}}
					</li>
				</ul>
			</div>
			<div id="menu_sub">
				<ul>
					<li ng-repeat="data in menuMain">
						{{data.name}}
					</li>
					<li ng-repeat="data in menuMain">
						{{data.name}}
					</li>
				</ul>
			</div>
		</div>

	</ul>
</ons-page>


	<!--
	<ul>
		<li ng-repeat="data in menuMain"
			ng-click="navi.pushPage(data.page)"
   			modifier="tappable"
			style="margin-bottom: 40px;"
			>
				{{data.name}}
				<span class="jp">{{data.jpname}}</span>
			</li>
		</ul>
	-->

