<ons-page ng-controller="MypageController as mypage" class="mypage" >

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left" ng-cloak>
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>

		<div class="center">MY CARD</div>
	</ons-toolbar>
	<!-- // toolbar -->

	<div>
		<img src="images/member/card.jpg" style="max-width:100%;">
	</div>

	<div id="card">
		<img src="images/logo.png" class="logo">
		<div class="numbers">
			No:&nbsp;<span class="number">{{number}}</span><br>
			<span class="notice">(※ログインの際に必要です)</span>
		</div>
		
		<div class="points">
			Point:&nbsp;<span class="point">{{point}}</span>&nbsp;pt
		</div>

		<div class="barcord">
			<div id="bcTarget" style="padding: 1em; max-width:100%;">
			</div>
		</div>

	</div>

	<ons-list modifier="inset" style="margin-top: 20px;" ng-if="userData">
		<ons-list-header class="title">会員情報</ons-list-header>
		<ons-list-item ng-if="userData.name">
			お名前: {{::userData.name}}
		</ons-list-item>
		<ons-list-item ng-if="userData.kana">
			フリガナ: {{::userData.kana}}
		</ons-list-item>
		<ons-list-item ng-if="userData.birthday">
			お誕生日: {{::userData.birthday|date:'yyyy年M月d日'}}
		</ons-list-item>
		<ons-list-item ng-if="userData.zip">
			郵便番号: {{::userData.zip}}
		</ons-list-item>
		<ons-list-item ng-if="userData.address1">
			ご住所: {{::userData.address1}} {{::userData.address2}}
		</ons-list-item>
		<ons-list-item ng-if="userData.tel">
			お電話番号(携帯可): {{::userData.tel}}
		</ons-list-item>
		<ons-list-item ng-if="userData.wedding_anniversary">
			結婚記念日: {{::userData.wedding_anniversary|date:'yyyy年M月d日'}}
		</ons-list-item>
		<ons-list-item ng-if="userData.is_receive_mail">
			メール・ラインでのご案内: {{::userData.is_receive_mail}}
		</ons-list-item>
	</ons-list>

	<div class="contents">
		<ons-button modifier="large" ng-click="logout()">ログアウト</ons-button>
		<ons-button style="margin-top: 1em;" modifier="large" ng-click="navi.pushPage('views/auth/password_change.html')">パスワードの変更</ons-button>
	</div>


	<ons-modal var="modal" >
		<ons-icon icon="ion-load-c" spin="true"></ons-icon>
	</ons-modal>
	
</ons-page>

