<ons-page ng-controller="TopController" class="top">

	<ons-toolbar>
		<div class="right">
			<ons-toolbar-button
				ng-if="!loggedin"
				ng-click="navi.pushPage('views/auth/login.html')">
				ログイン
			</ons-toolbar-button>
			<ons-toolbar-button
				ng-if="loggedin"
				ng-click="navi.pushPage('views/mypage.html')">
				MyCard
			</ons-toolbar-button>
		</div>
		<div class="center">
			<!-- TODO image -->
			<img src="images/logo.png" style="max-height: 40px;">
		</div>
	</ons-toolbar>

	<div id="main_content">
		<div id="main_image">
			<ul>
				<li ng-repeat="data in menuMain"
				ng-click="navi.pushPage(data.page)" modifier="tappable" 
					style="background-image: url(images/top/{{data.background}});">
					<div class="title">
						{{data.name}}<br>
						<span class="jp">-&nbsp;{{data.jpname}}&nbsp;-</span>
					</div>
				</li>
			</ul>
		</div>

		<div id="menu_main">
			<ul>
				<li ng-repeat="data in menuMain"
				ng-click="navi.pushPage(data.page)"modifier="tappable" >
					{{data.name}} {{data.jpname}}
				</li>
			</ul>
		</div>
		<div id="menu_sub">
			<ul>
				<li ng-repeat="data in menuMain">
					{{data.name}} {{data.jpname}}
				</li>
				<li ng-repeat="data in menuMain">
					{{data.name}} {{data.jpname}}
				</li>
			</ul>
		</div>
	</div>


	<div id="special" ng-click="pushSpecialPage(special)"
				   style="background-image: url({{BASE_URL}}{{special.main_image}});">
		<p ng-bind="special.title">
		</p>
	</div>
</ons-page>
