<ons-page ng-controller="MembersController" class="members">

	<!-- toolbar -->
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="navi.popPage()">
				&times;
			</ons-toolbar-button>
		</div>
		<div class="center">会員専用コンテンツ</div>
	</ons-toolbar>
	<!-- // toolbar -->


	<div style="margin: 0;">
		<img src="images/member/alex20-416.jpg" style="max-width:100%;">
	</div>

	<div class="contents" style="margin-top: 0;">

		<h2>HOT ACCESS</h2>
		<ul class="staffs">
			<li ng-repeat="staff in ::staffs">
				<span class="name">{{staff.name}}</span>
				<span class="buttons">
					<a class="button" href="tel:{{staff.telnum}}">TEL</a>
					<a class="button" href="http://line.me/ti/p/{{staff.line}}">LINE</a>
				</span>
			</li>
		</ul>

		<div>
			<ul>
				<li ng-click="navi.pushPage('views/members/hot_access.html')">HOT ACCESS</li>
				<li ng-click="navi.pushPage()">OTHER</li>
			</ul>
		</div>
	</div>
</ons-page>
