/*
li height 40px;
*/

@font-face {
	font-family: 'Baskeville';
	src: url('../fonts/OpenBaskeville-0.0.75.ttf') format('truetype');
}

@font-face {
	font-family: 'ipaexm';
	src: url('../fonts/ipaexm.ttf') format('truetype');
}

*
{
	font-family: "ipaexm", 'OpenBaskeville', "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	line-height: 1.5;
	padding:0;
	margin: 0;
}
.button
{
	font-family: "ipaexm", 'OpenBaskeville', "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
h1
{
	clear: both;
	font-size: 144%;
	font-weight: bold;
	margin-bottom: 0.7em;
	border-bottom: 1px solid #999;
	color: #c20d00
}
h2
{
	clear: both;
	font-size: 132%;
	margin-top: 1.5em;
	margin-bottom: 0.6em;
	border-bottom: 1px solid #999;
}
h3
{
	clear: both;
	font-size: 108%;
	background-color: #e7e7e7;
	font-weight: bold;
	padding: 0.3em 0.7em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
p
{
	margin-bottom: 1.5em;
}
dl {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #f7f7f7 none repeat scroll 0 0;
	border-color: #e3e3e3 #e3e3e3;
	border-image: none;
	border-style: none solid solid;
	border-width: medium 1px 1px;
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 0;
}
dt, dd {
	margin: 0;
	padding: 0;
}
dt,
dd
 {
	min-height: 2em;
	padding: 0.5em;
}
dt
{
	border-top: 1px solid #e3e3e3;
	box-sizing: border-box;
	clear: left;
	float: left;
	font-weight: 700;
}
dd
{
	background: #fff none repeat scroll 0 0;
	border-left: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	overflow: hidden;
}
dt /* default */
{
	width: 6em;
}
dd /* default */
{
	margin-left: 6em;
}
ul
{
}
li
{
	list-style: none;
}

table {
	border-collapse: collapse;
	width:100%;
}
th.t_top {
    border-top: #be1309 4px solid;
}
th {
	border: #e3e3e3 1px solid;
	text-align: left;
	padding: 10px;
	font-weight: normal;
	background: #f7f7f7;
}
td.t_top {
	border-top: #b3b3b3 4px solid;
}
td {
	border: #e3e3e3 1px solid;
	text-align: left;
	padding: 10px;
}

.button,
.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet
{
    background: -moz-linear-gradient(top,#ff0f00 0%,#ff0f00 50%,#c20d00 50%,#c20d00);
    background: -webkit-gradient(linear, left top, left bottom,from(#ff0f00), color-stop(0.5,#ff0f00), color-stop(0.5,#c20d00),  to(#c20d00));
    border: 1px solid #FF5E58;
    color: #FFF;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5),-1px -1px 1px rgba(0,0,0,0.5);
}
.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet
{
    width: 100px;
    padding: 8px 10px;
	border-radius: 4px;
	margin-right: 5px;
	margin-left: 5px;
}


.navigation-bar__item, .navigation-bar__left, .navigation-bar__right, .navigation-bar__center,
.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet
{
	font-family: "ipaexm", 'OpenBaskeville', "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	color: #ffffff;
}

.contents /* page content */
{
	padding: 12px 8px 36px;
}

.padding-normal
{
	padding: 12px 8px;
}
.navigation-bar
{
	background: url(../images/bg-l.png) repeat-y left center, url(../images/bg-r.png) repeat-y right center, -webkit-linear-gradient(#ff0f00 0%,#c20d00 100%);
	background: url(../images/bg-l.png) repeat-y left center, url(../images/bg-r.png) repeat-y right center, linear-gradient(#ff0f00 0%,#c20d00 100%);
	overflow: hidden;
}
.bar_icon
{
	height: 24px;
}

.error
{
	color: #DC143C;
	font-size: 85%;
	display: block;
	margin: 0.5em;
}
.error:before
{
	content: "※";
}
.button.icon
{
	color: #1f1f21;
	height: 60px;
	width: 60px;
	padding: 0;
	border-radius: 4px;
}
.button.icon img
{
	display: block;
	width: 32px;
	margin: 0 auto;
}
.button.icon span
{
	color: #fff;
	width: 100%;
	display:block;
	text-align: center;
	text-shadow: 0 4px 4xp 0 #000;
}
.disabled,
.inactive
{
	background: LightGray;
}
.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet
{
	color: white;
}
ul.button_group.two,
ul.button_group.three
{
	width: 100%;
	margin: 1em auto 2em;
	overflow: hidden;
}
.button_group.two li
{
	display: block;
	float: left;
	width: 50%; 
	list-style: none;
	text-align: center;
	position: relative;
}
.button_group.three li
{
	display: block;
	float: left;
	width: 33%; 
	list-style: none;
	text-align: center;
	position: relative;
}
.button_group.three li a
{
	display: block;
	margin: 15px auto;
	
}
.button_group .budge
{
	position: absolute;
	background: rgba(255,0,0,0.7);
	border: 2px solid #fff;
	border-radius: 2em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	font-weight: bold;
	color: #fff;
	padding: 0.2em;
	z-index: 99;
	right: 0;
	top: 0;
	min-width: 1.5em;
}


.col {
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  padding: 4px;
  color: #999;
}

.page__content {
  background-color: #f6f6f6;
  max-width: 100%;
	overflow: scroll-y;
}


#list_end
{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden;
}
#list_end .load_more .swipe
{
	font-size: 80%;
	color: red;
	width: 100%;
}
