/*
 * top
 */
#top_menu
{
	height: 200px;
}
#main_image,
#menu_main,
#menu_sub
{
	font-family: 'OpenBaskeville', "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	padding:0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
	position: absolute;
	box-sizing: content-box;
}
#menu_main,
#menu_sub
{
	text-align: center;
}
#main_image ul,
#menu_main ul,
#menu_sub ul
{
	padding:0;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
#main_image li,
#menu_main li,
#menu_sub li
{
	padding:0;
	margin: 0;
	line-height: 40px;
	height: 40px;
	padding-left: 1em;
}
#main_content,
#main_image
{
	height: 100%;
}
#main_image ul
{
	height: 700%;
}
#main_image li
{
	height: 14.2857143%;
}


#main_image,
#menu_main,
#menu_sub
{
	font-family: "ipaexm";
	padding:0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	width: 100%;
	position: absolute;
	box-sizing: content-box;
}
#main_image
{
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 1px #666;
}

#main_image li .title
{
	position: absolute;
	line-height: 1.5;
	margin-top: 10px;
}
#main_image ul li
{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 14px 3px rgba(125,125,125,0.5) inset;
}

/* clickable */
#menu_main
{
	background: url(../images/bg-l.png) repeat-y left center, url(../images/bg-r.png) repeat-y right center, -webkit-linear-gradient(#ff0f00 0%,#c20d00 100%);
	background: url(../images/bg-l.png) repeat-y left center, url(../images/bg-r.png) repeat-y right center, linear-gradient(#ff0f00 0%,#c20d00 100%);
	height: 40px;
	bottom: 240px;
}
#menu_main
{
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5),-1px -1px 1px rgba(0,0,0,0.5);
	border-bottom: 1px solid #ff0f00;
	color: #ffffff;
}
/* scrollable */
#menu_sub
{
	background: url(../images/bg-l.png) repeat-y left center, url(../images/bg-r.png) repeat-y right center;
	/* height: 240px; */
	height: 240px;
	bottom: 0;
	background-color: #ffffff;
	overflow: scroll;
}
#menu_sub li
{
	position:relative;
	background: url(../images/line.png) no-repeat bottom center;
	background-size: 240px 1px;
	box-shadow: 0 0 14px 16px rgba(200,200,200,0.1) inset;
}
#menu_sub li .name
{
	width: 250px;
	display: inline-block;
	height: 38px;
  box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 2px 3px -3px rgba(0,0,0,0.6);
}

#special
{
	position: absolute;
	z-index: 99;
	font-weight: bold;
	box-sizing: border-box;

	box-shadow: 0 0 2px rgba(200,200,200,1.0) inset;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;

	width: 100%;
	height: 50px;
	bottom: 0; /* 40x7 + 20px */
}
#special:active
{
	opacity: 0.4;
}
#special p
{
	padding: 4px;
	font-size: 80%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9), 0px 0px 1px rgba(0,0,0,0.2);
	color: #ffffff;
}

