/*
 * list 共通
 */
.latest_info
{
	border-radius: 10px;
	width: auto;
	float: left;
	margin: 1em 0;
	font-weight: bold;
	padding: 0.2em 0.5em;
	color: #fff;
	background-color: #ff0f00;
}

/*
 *top
 */


/*
 * history
 */
.history p img
{
	max-width: 100%;
	margin: 0.5em;
}
.history p .left
{
	float: left;
}
.history p .right
{
	float: right;
}

/*
 * news
 */
.news_list h3
{
	background: none;
}

.news_list .content
{
	display: none;
}
.news_list:first-child
{
	height: auto;
}
.news_list:first-child .content
{
	display: block;
	height: auto;
}

.news_article
{
	max-width: 100%;
	overflow: hidden;
}


.news_article p
{
	display: block;
	width: 100%;

}
.news_article img
{
	max-width: 100%;
	height: auto;
}

/*
 * market
 */
.market dt
{
	width: 7em;
}
.market dd
{
	margin-left: 7em;
}
.market h2
{
	border-left: solid 6px #000;
	padding-left: 10px;
	line-height: 1.3;
}
.market h2.gold { border-color: #FFD700; }
.market h2.platinum { border-color: #e5e4e2; }
.market h2.silver { border-color: #c0c0c0; }
.market_list .buttons .button.gold     { background: #FFD700; border-color: #ccc;}
.market_list .buttons .button.platinum { background: #e5e4e2; border-color: #ccc; color: #666; }
.market_list .buttons .button.silver   { background: #c0c0c0; border-color: #ccc; }

.market_list h3
{
	background: none;
}


/*
 * product
 */
.product_list
{
	overflow: hidden;
	padding-top: 1em;
	padding-bottom: 1em;
}
.product_list .thumbnail
{
	margin-top: 1em;
	max-width: 25%;
	border: 1px solid #cecece;
	display: block;
	float: left;
}

.product_list h3,
.product_list .price
{
	background: none;
	box-sizing: content-box;
	clear: right;
	float: right;
	max-width: 65%;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	line-height: 1.5;
}
.product_list h3
{
	clear: none;
	margin-bottom: 0;
}
.product_list .price_primary,
.product .price_primary,
.product .price_secondary
{
	text-align: right;
	margin-bottom: 0.5em;
}
.product_list .price_primary,
.product .price_primary
{
	font-weight: bold;
	color: red;
	font-size: 110%;
}
.product .price_secondary
{
	font-size: 95%;
}
.product
{
	width: 100%;
	overflow: hidden;
}
.product img
{
	max-width: 100%;
}

/**
 * mypage
 */
.mypage #card
{
	position: relative;
	background: url(../images/bg-l.png) repeat-y left center, url(../images/bg-r.png) repeat-y right center, -webkit-linear-gradient(#ff0f00 0%,#c20d00 100%);
	max-width: 100%;
	border-radius: 20px;
	margin:  0.8em 0.4em;
	padding: 1em 1em;
	color: #d9d9d9;
}
.mypage #card img
{
	max-height: 40px;
	margin-bottom: 1em;
}
.mypage #card .numbers,
.mypage #card .points
{
	margin-bottom: 0.3em
	text-shadow: 0 4px 4xp 0 #000;
}
.mypage #card .number
{
	font-size: 140%;
	font-weight: bold;
	color: #fff;
}
.mypage #card .point
{
	font-size: 140%;
	font-weight: bold;
	color: #fff;
}
.mypage #card .notice
{
	color: #ccc;
	font-size: 80%;
	text-align: right;
}
.mypage #card .barcord
{
	margin-top: 2em;
}


/*
 * auth
 */
.add_point th
{
	min-width: 4em;
}
/*
 * members
 */
.members .contents,
.hot_access .contents
{
	min-height: 100%;
	background: url(../images/bg-l.png) repeat-y left center, url(../images/bg-r.png) repeat-y right center;
}
.members li
{
	padding:0;
	margin: 0;
	line-height: 60px;
	height: 60px;
	padding-left: 1em;
	position:relative;
	background: url(../images/line.png) no-repeat bottom center;
	background-size: 240px 1px;
	box-shadow: 0 0 14px 16px rgba(200,200,200,0.1) inset;
	/* text-align: center; */
	text-align: left;
}
.members li:active
{
	opacity: 0.5;
}

.hot_access li
{
	padding:0;
	margin: 0;
	line-height: 60px;
	height: 60px;
	padding-left: 1em;
	position:relative;
	background: url(../images/line.png) no-repeat bottom center;
	background-size: 240px 1px;
	box-shadow: 0 0 14px 16px rgba(200,200,200,0.1) inset;
	overflow: hidden;
}

.hot_access .staffs .name
{
	display: block;
	float: left;
}
.hot_access li
{
	padding-bottom: 8px;
	margin-bottom: 8px;
}
.hot_access li .buttons
{
	clear: right;
	display: block;
	margin-top: 8px;
	float: right;
}
.hot_access li .buttons .button
{
	padding: 10px 14px 5px;
}
.hot_access li .buttons .button img
{
	max-width: 20px;
	max-height: 20px;

}
